.callout {
    background-color: rgb(13, 13, 121);
    float: left;
    text-align: left;

}

.callout img {
    margin: 0;
    border: black solid 5px;
    padding: gray solid 200px;
    float: inline-end;
    border-right: 0px;

}

blockquote {
    float: left unset;
    text-align: left;
    color: white;
}

cite {
    float: left;
    text-align: left;
    border-top: 1px dotted;
}

main {
    max-height: 30vh;
    max-width: 30vw;
    min-width: 30vw;
    min-height: 30vh;
}